/*@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");*/

.menu-main {
  width: 140px;
  position: relative;
  bottom: 10px;
}

.menu-main li {
  list-style-type: none;
  font-size: 25pt;
  cursor: pointer;
  text-align: center;
  border: solid;
  border-radius: 1rem;
  margin-bottom: 4px;
}

.menu-main ul {
  margin: 0;
  padding: 0;
}

.menu-main li:hover {
  color: rgb(137, 207, 207);
  background-color: rgb(24, 24, 24);
}

#krest {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  text-align: right;
  position: relative;
  right: 9px;
  top: 4px;
  font-size: 35pt;
}

#krest:hover {
  color: rgb(137, 207, 207);
}
