.menu-main {
  width: 170px;
  bottom: 10px;
}

.menu-main ul {
  margin: 0;
  padding: 0;
}

.menu-main li {
  list-style-type: none;
  font-size: 20pt;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  text-align: center;
  border: solid;
  border-radius: 1rem;
  margin-bottom: 4px;
}

.menu-main li:hover {
  color: rgb(137, 207, 207);
  background-color: rgb(24, 24, 24);
}

a:link{
  text-decoration: none;
  color: wheat;
}

a:visited{
  text-decoration: none;
  color: wheat;
}

a:active{
  text-decoration: none;
  color: wheat;
}

a:active{
  text-decoration: none;
  color: wheat;
}

#profileAvatar {
  cursor: pointer;
}

#krest {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  text-align: right;
  position: relative;
  right: 9px;
  top: 4px;
  font-size: 35pt;
}

#krest:hover {
  color: rgb(137, 207, 207);
}
